<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Hello {{.Name}}</title>
</head>
<br>
<img src="go_logo.png" />
<p>Hello {{ .Name }}</p>
</br>
<body>
<p>{{ .Title }}</p>
<p>You have {{ .Count }}</p>
<ul>
    {{ range .Products }}
    <li>{{ .Name }}</li>
    {{ end }}
</ul>
</body>
</html>